APP_PORT=8080
APP_URL=http://localhost:8080
APP_SECRET=

JWT_LIFETIME=180s

DB_HOST=localhost
DB_PORT=3306
DB_USER=default
DB_PASSWORD=default
DB_NAME=default

DANS_BASE_URL=http://dev3.dansmultipro.co.id
